/* *Background Image */

.bg-login-image {
    background: url("./../images/bg/auth-login.jpg");
    background-position: center;
    background-size: cover;
  }

.bg-register-image {
    background: url("./../images/bg/auth-register.jpg");
    background-position: center;
    background-size: cover;
  }
.bg-forgot-password-image {
    background: url("./../images/bg/auth-forgot-password.jpg");
    background-position: center;
    background-size: cover;
  }

/* .Background Image */