/* *Background Image */

.bg-login-image {
    background: url("./../images/bg/auth-login.jpg");
    background-position: center;
    background-size: cover;
  }

.bg-register-image {
    background: url("./../images/bg/auth-register.jpg");
    background-position: center;
    background-size: cover;
  }
.bg-forgot-password-image {
    background: url("./../images/bg/auth-forgot-password.jpg");
    background-position: center;
    background-size: cover;
  }

/* .Background Image */

/* *Text */
.disable-text {
  display:block;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  /* unselectable: on; */
}
/* .Text */